[core]
[user]
	name = Hiroaki KARASAWA
	email = karszawa@mercari.com
[color]
	ui = auto
[core]
	editor = emacs
	excludesfile = /Users/karszawa/.gitignore_global
	attributesfile = ~/.gitattributes-global
[push]
	default = current
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[diff]
	compactionHeuristic = true
	renames = true
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[alias]
	delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
	co = checkout
	open = browse
	pr = pull-request
	cm = commit
	cp = cherry-pick
[commit]
	template = ~/.config/.git_commit_message
	# gpgsign = true
[merge "mergepbx"]
	name = Xcode project files merger
	driver = mergepbx %O %A %B
[ghq]
	root = ~/dev/src
[merge]
	tool = code
	conflictstyle = diff3
[include]
	path = ~/.config/.gitconfig-local
[gpg]
	program = gpg
